.rating {
}
.ratingDisabled {
  pointer-events: none;
}

.ratingBack,
.ratingWrapper {
  display: flex;
}

.ratingItem {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 0;
  transform: scale(1);
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.256s linear;
  &:before {
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    content: '';
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    opacity: 0.7;
  }
}
.ratingItemActive {
}

.ratingItemAnimate {
  animation: animate 0.756s linear;
}

.ratingIcon {
  width: 1em;
  height: 1em;
  path {
    fill: currentColor;
  }
  &.active {
    path {
      fill: currentColor;
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(253deg) scale(1.2);
  }

  80% {
    transform: rotate(288deg) scale(1.4);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}
